* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  background-color: #191919;
  width: 100%;
  max-width: 1024px;
  min-height: 1200px;
  padding: 50px;
  padding-bottom: 90px;
}
main > aside > article {
  padding: 20px 0;
}
aside > article > address {
  font-size: 20px;
}
aside > article > a {
  color: white;
  font-size: 20px;
  transition: all 0.5s;
}
aside > article > a:hover {
  font-size: 22px;
  transition: all 0.5s;
}
aside {
  flex: 1;
  color: #ffffff;
  height: 100%;
  width: 100%;
}
aside > figure > img {
  margin-bottom: 20px;
}
aside > figure > figcaption {
  font-size: 32px;
}
section {
  flex: 2;
  background-color: #c5dfb4;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
section > article > h2.title {
  background-color: #528035;
  border: 1px solid white;
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
  padding-left: 30px;
  margin-left: -30px;
  margin-top: 40px;
  color: white;
}
section > article > p.content {
  margin: 30px 20px;
  text-indent: 20px;
  text-align: justify;
}
